body {
  font-family: sans-serif;
}

.row {
  display: flex;
  width: max-content;
}

.box {
  width: 100px;
  height: 100px;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.winner {
  background-color: lightgreen;
}
